{% extends "layout.html" %}
{% block main %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>500 错误页面</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-danger">500</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-danger"></i> 啊哦！什么地方出错了！</h3>

          <p>
            服务器发生错误！
            你可以 <a href="{{ url_for('index') }}">返回主页</a>
          </p>
          </form>
        </div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->
  </div>
{% endblock %}